name: Deploy on AWS

on:
  push:
    branches: [ master ]
jobs:
  deploy:
    # Deploy to AWS Elastic BeanStalk
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the branch
        uses: actions/checkout@v2
      - name: Create the artifact to push AWS
        run: zip -r deploy.zip . -x 'README.*' '*.git*'
      - name: Get Timestamp
        uses: gerred/actions/current-time@master
        id: current-time
      - name: Run string replace
        uses: frabert/replace-string-action@master
        id: format-time
        with:
          pattern: '[:\.]+'
          string: "${{ steps.current-time.outputs.time }}"
          replace-with: '-'
          flags: 'g'
      - name: Deploy to Elastic BeanStalk
        uses: einaregilsson/beanstalk-deploy@v20
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: docker-react-app
          environment_name: Dockerreactapp-env
          version_label: "react-app-${{ steps.format-time.outputs.replaced}}"
          region: us-east-1
          deployment_package: deploy.zip
