name: Testing Docker NPM 

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2    
    - name: Setup Buildx Docker
      uses: docker/setup-buildx-action@v1    
    - name: Build and copy
      uses: docker/build-push-action@v2
      with:
        context: .
        file: Dockerfile.dev
        tags: prabhutech37/react-app
        outputs: type=docker, dest=/tmp/react-app.tar        
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: react-app
        path: /tmp/react-app.tar       
    - name: List the Created file
      run: ls -latr /tmp/        
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Setup Buildx Docker
      uses: docker/setup-buildx-action@v1
    - name: Download Artifacts
      uses: actions/download-artifact@v2
    - name: Load Docker Image
      run: |
        docker load --input /tmp/react-app.jar
        docker image ls -a
    - name: Run the test cases
      run: docker run -e CI=true prabhutech37/react-app npm run test -- --coverage
